/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
.dashboard-avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}
.dashboard-layout {
  height: 100vh;
}

.dashboard-layout .dashboard-header .mdl-textfield {
  padding: 0px;
  margin-top: 41px;
}
.dashboard-layout .dashboard-header .mdl-textfield .mdl-textfield__expandable-holder {
  bottom: 19px;
}
.dashboard-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}
.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}
.dashboard-drawer {
  border: none;
  overflow-y: hidden;
}
/* iOS Safari specific workaround */
.dashboard-drawer .mdl-menu__container {
  z-index: -1;
}
.dashboard-drawer .dashboard-navigation {
  z-index: -2;
}
/* END iOS Safari specific workaround */
.dashboard-drawer .mdl-menu .mdl-menu__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.dashboard-drawer-header {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 16px;
  height: 151px;
}
.dashboard-avatar-dropdown {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.dashboard-navigation {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.dashboard-layout .dashboard-navigation .mdl-navigation__link {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}
.dashboard-layout .dashboard-navigation .mdl-navigation__link:hover {
  background-color: #00BCD4;
  color: #37474F;
}
.dashboard-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}

.dashboard-content {
  max-width: 1080px;
}

.dashboard-cards {
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
              -ms-grid-row-align: flex-start;
          align-items: flex-start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}
.dashboard-cards .dashboard-separator {
  height: 32px;
}
.dashboard-cards .mdl-card__title.mdl-card__title {
  color: white;
  font-size: 24px;
  font-weight: 400;
}
.dashboard-cards ul {
  padding: 0;
}
.dashboard-cards h3 {
  font-size: 1em;
}
.dashboard-updates .mdl-card__title {
  min-height: 200px;
  background-image: url('/images/dog.png');
  background-position: 90% 100%;
  background-repeat: no-repeat;
}
.dashboard-cards .mdl-card__actions a {
  color: #00BCD4;
  text-decoration: none;
}

.dashboard-options h3 {
  margin: 0;
}
.dashboard-options .mdl-checkbox__box-outline {
  border-color: rgba(255, 255, 255, 0.89);
}
.dashboard-options ul {
  margin: 0;
  list-style-type: none;
}
.dashboard-options li {
  margin: 4px 0;
}
.dashboard-options .material-icons {
  color: rgba(255, 255, 255, 0.89);
}
.dashboard-options .mdl-card__actions {
  height: 64px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
