<div class="container" ng-controller='LoginController'>
            <p><br/></p>
        <div class="row" ng-init="onLoad()">
    
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                            <div class="page-header">
                            <h3>Login Area</h3>
                        </div>
                        <form role="form">
                            <div class="form-group">
                                    <label for="exampleInputEmail1">Email or Username</label>
                                    <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                    <input type="email" class="form-control" ng-model="formData.email" placeholder="Enter email" required>
                                </div>
                            </div>
                            <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-star"></span></span>
                                    <input type="password" class="form-control" ng-model="formData.password" placeholder="Password" required>
                                </div>
                            </div>
                            <div class="checkbox">
                                <label for = "always_logged_in"> <input type="checkbox" ng-model="formData.always_logged_in" ng-checked="formData.always_logged_in"/>Keep Me Logged In</label>
                                
                            </div>

                            <div class="checkbox">
                                <label for "remember_me"><input type="checkbox" ng-model="formData.remember_me" ng-checked="formData.remember_me">Remember Me</label>
                            </div>
                            <hr/>
                            <button type="submit" class="btn btn-primary btn-lg" ng-click="doLogin()">Login</button>

                            <p><br/></p>
                        </form>
                        <div class="modal fade bs-example-modal-sm" id="myPleaseWait" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">
                                            <span class="glyphicon glyphicon-time">
                                            </span>Please Wait
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-info
                                            progress-bar-striped active" style="width: 100%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
