<div class="container col-md-6" ng-controller='UserController'>
    <form role="form">
        <div class="form-group">
            <label for="inputName">Name</label>
            <input ng-model='formData.name' type="text" class="form-control" id="inputEmail" placeholder="Name">
        </div>

         <div class="form-group">
            <label for="inputEmail">Email</label>
            <input ng-model='formData.email' type="text" class="form-control" id="inputEmail" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input ng-model='formData.password' type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
        <div class="form-group">
        	<label for="inputName">Groups</label>
            <div ng-dropdown-multiselect="" options="example1data" selected-model="example1model"></div>
         </div>

        <div class="form-group">
        	<label for="inputName">Company</label>
        	<select class="form-control" ng-model="selectedItem" 
            ng-options="item as item.name for item in items"></select>
         </div>  
        <button type="submit" class="btn btn-primary" ng-click="createUser()">Add User</button>
    </form>

</div>