<div class="container row">
	<div class="col-md-4 col-md-offset-2">
		<form role="form" ng-controller="AddCompanyCtrl">
			<div class="form-group">
				<label for="exampleInputEmail1">Name</label>
				<div class="input-group">
					<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
					<input type="text" class="form-control" ng-model="formData.company_name" placeholder="Company Name">
				</div>
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Brands</label>
				<div class="input-group">
					<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
					<!--input type="password" class="form-control" ng-model="formData.password" placeholder="Brand"-->
					<div ng-dropdown-multiselect="" options="brands.data" selected-model="formData.brands" extra-settings="ctrl.multiselectSettings"></div>
				</div>
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Apps</label>
				<div class="input-group">
					<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
					<div ng-dropdown-multiselect="" options="apps.data" selected-model="formData.apps" extra-settings="ctrl.multiselectSettings"></div>
				</div>
			</div>

			<button type="submit" class="btn btn-primary btn-lg" ng-click="register()">Register</button>
		</form>
	</div>
</div>