<div class="content-container apps-container" ng-controller="AppsCtrl as ctrl">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>App Name</th>
        <th>App URL</th>
        <th>Companies</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="app in ctrl.apps">
        <td>{{app.app_name}}</td>
        <td>{{app.app_url}}</td>
        <td>{{app.companies.length}} Companies</td>
        <td>
          <md-menu md-position-mode="target-right target" >
            <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
              <i class="material-icons">more_vert</i>
            </md-button>
            <md-menu-content width="4" >
              <md-menu-item>
                <md-button ng-click="ctrl.updateApp(app.app_id)">
                    <div layout="row">
                      <p flex>Update App</p>
                      <i class="material-icons">build</i>
                    </div>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="ctrl.deleteApp(app.app_id)">
                    <div layout="row">
                      <p flex>Delete App</p>
                      <i class="material-icons">delete</i>
                    </div>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </td>
      </tr>
    </tbody>
  </table>
  <md-button class="md-fab" aria-label="FAB" ng-click="ctrl.createApp()">
    <i class="material-icons">add</i>
  </md-button>
<div>