<div class="create-group-container">
	<form name="groupForm">
		<md-input-container md-no-float class="md-block" flex-gt-sm>
			<input placeholder="Group Name">
		</md-input-container>
		<md-input-container md-no-float class="md-block" flex-gt-sm>
			<md-chips ng-model="ctrl.selectedVegetables" md-autocomplete-snap
		              md-transform-chip="ctrl.transformChip($chip)"
		              md-require-match="true">
		      <md-autocomplete
		          md-selected-item="ctrl.selectedItem2"
		          md-search-text="ctrl.searchText2"
		          md-items="item in ctrl.querySearch(ctrl.searchText)"
		          md-item-text="item.name"
		          placeholder="Roles">
		        <span md-highlight-text="ctrl.searchText">{{item.name}} :: {{item.type}}</span>
		      </md-autocomplete>
		      <md-chip-template>
		        <span>
		          <strong>{{$chip.name}}</strong>
		          <em>({{$chip.type}})</em>
		        </span>
		      </md-chip-template>
		    </md-chips>
		    <md-button class="md-fab md-mini" aria-label="Create Group" ng-click="ctrl.createGroup()">
			    <i class="material-icons create-group">add</i>
			</md-button>
		</md-input-container>
		<md-input-container md-no-float class="md-block" flex-gt-sm>
		    <md-chips ng-model="ctrl.selectedVegetables" md-autocomplete-snap
		              md-transform-chip="ctrl.transformChip($chip)"
		              md-require-match="true">
		      <md-autocomplete
		          md-selected-item="ctrl.selectedItem2"
		          md-search-text="ctrl.searchText2"
		          md-items="item in ctrl.querySearch(ctrl.searchText)"
		          md-item-text="item.name"
		          placeholder="Users">
		        <span md-highlight-text="ctrl.searchText">{{item.name}} :: {{item.type}}</span>
		      </md-autocomplete>
		      <md-chip-template>
		        <span>
		          <strong>{{$chip.name}}</strong>
		          <em>({{$chip.type}})</em>
		        </span>
		      </md-chip-template>
		    </md-chips>
		    <md-button class="md-fab md-mini" aria-label="Create Role" ng-click="ctrl.createRole()">
			    <i class="material-icons create-role">add</i>
			</md-button>
		</md-input-container>
	</form>
</div>