<div class="create-user-container">
	<form name="userForm">
		<md-input-container md-no-float class="md-block" flex-gt-sm>
			<input placeholder="Full Name">
		</md-input-container>
		<md-input-container md-no-float class="md-block" flex-gt-sm>
			<input placeholder="Primary Email">
		</md-input-container>
		<md-input-container md-no-float class="md-block" flex-gt-sm>
			<md-autocomplete
			class="autocomplete"
			md-no-cache="ctrl.noCache"
			md-selected-item="ctrl.selectedItem"
			md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
			md-search-text="ctrl.searchText"
			md-selected-item-change="ctrl.selectedItemChange(item)"
			md-items="item in ctrl.querySearch(ctrl.searchText)"
			md-item-text="item.display"
			md-min-length="0"
			placeholder="Company">
				<md-item-template>
					<span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
				</md-item-template>
				<md-not-found>
					No companies matching "{{ctrl.searchText}}" were found.
				</md-not-found>
			</md-autocomplete>
		</md-input-container>
		<md-input-container md-no-float class="md-block" flex-gt-sm>
			<md-chips ng-model="ctrl.selectedVegetables" md-autocomplete-snap
		              md-transform-chip="ctrl.transformChip($chip)"
		              md-require-match="true">
		      <md-autocomplete
		          md-selected-item="ctrl.selectedItem2"
		          md-search-text="ctrl.searchText2"
		          md-items="item in ctrl.querySearch(ctrl.searchText)"
		          md-item-text="item.name"
		          placeholder="Groups">
		        <span md-highlight-text="ctrl.searchText">{{item.name}} :: {{item.type}}</span>
		      </md-autocomplete>
		      <md-chip-template>
		        <span>
		          <strong>{{$chip.name}}</strong>
		          <em>({{$chip.type}})</em>
		        </span>
		      </md-chip-template>
		    </md-chips>
		    <md-button class="md-fab md-mini" aria-label="Create Group" ng-click="ctrl.createGroup()">
			    <i class="material-icons create-group">add</i>
			</md-button>
		</md-input-container>
		<md-input-container md-no-float class="md-block" flex-gt-sm>
		    <md-chips ng-model="ctrl.selectedVegetables" md-autocomplete-snap
		              md-transform-chip="ctrl.transformChip($chip)"
		              md-require-match="true">
		      <md-autocomplete
		          md-selected-item="ctrl.selectedItem2"
		          md-search-text="ctrl.searchText2"
		          md-items="item in ctrl.querySearch(ctrl.searchText)"
		          md-item-text="item.name"
		          placeholder="Roles">
		        <span md-highlight-text="ctrl.searchText">{{item.name}} :: {{item.type}}</span>
		      </md-autocomplete>
		      <md-chip-template>
		        <span>
		          <strong>{{$chip.name}}</strong>
		          <em>({{$chip.type}})</em>
		        </span>
		      </md-chip-template>
		    </md-chips>
		    <md-button class="md-fab md-mini" aria-label="Create Role" ng-click="ctrl.createRole()">
			    <i class="material-icons create-role">add</i>
			</md-button>
		</md-input-container>
	</form>
</div>