<div class="content-container groups-container" ng-controller="GroupsCtrl as ctrl">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Group Name</th>
        <th>Users</th>
        <th>Roles</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="group in ctrl.groups">
        <td>{{group.group_name}}</td>
        <td>{{group.users.length}} Users</td>
        <td>{{group.group_roles.length}} Roles</td>
        <td>
          <md-menu md-position-mode="target-right target" >
            <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
              <i class="material-icons">more_vert</i>
            </md-button>
            <md-menu-content width="4" >
              <md-menu-item>
                <md-button ng-click="ctrl.updateUsers(group.group_id)">
                    <div layout="row">
                      <p flex>Update Users</p>
                      <i class="material-icons">build</i>
                    </div>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="ctrl.updateRoles(user.id)">
                    <div layout="row">
                      <p flex>Update Roles</p>
                      <i class="material-icons">build</i>
                    </div>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </td>
      </tr>
    </tbody>
  </table>
  <md-button class="md-fab" aria-label="FAB" ng-click="ctrl.createGroup()">
    <i class="material-icons">add</i>
  </md-button>
<div>