<div class="dashboard-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header" ng-controller="DashboardController as dashboardCtrl">
	<header class="dashboard-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
		<div class="mdl-layout__header-row">
			<span class="mdl-layout-title">Home</span>
			<div class="mdl-layout-spacer"></div>
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
				<label class="mdl-button mdl-js-button mdl-button--icon" for="search">
					<i class="material-icons">search</i>
				</label>
				<div class="mdl-textfield__expandable-holder">
					<input class="mdl-textfield__input" type="text" id="search">
					<label class="mdl-textfield__label" for="search">Enter your query...</label>
				</div>
			</div>
			<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
				<i class="material-icons">more_vert</i>
			</button>
			<ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
				<li class="mdl-menu__item" ng-click="initLogout()">logout</li>
			</ul>
		</div>
	</header>
	<div class="dashboard-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
		<header class="dashboard-drawer-header">
			<img src="images/user.jpg" class="dashboard-avatar">
			<div class="dashboard-avatar-dropdown">
				<span>{{dashboardCtrl.username}}</span>
				<div class="mdl-layout-spacer"></div>
				<button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
					<i class="material-icons" role="presentation">arrow_drop_down</i>
					<span class="visuallyhidden">Accounts</span>
				</button>
				<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
					<li class="mdl-menu__item">{{dashboardCtrl.username}}</li>
					<li class="mdl-menu__item">info@example.com</li>
					<li class="mdl-menu__item"><i class="material-icons">add</i>Add another account...</li>
				</ul>
			</div>
		</header>
		<nav class="dashboard-navigation mdl-navigation mdl-color--blue-grey-800">
			<a class="mdl-navigation__link" ui-sref="."><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Home</a>
			<a class="mdl-navigation__link" ui-sref=".users"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">inbox</i>Users</a>
			<a class="mdl-navigation__link" ui-sref=".groups"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete</i>Groups</a>
			<a class="mdl-navigation__link" ui-sref=".apps"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">report</i>Apps</a>
			<a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">forum</i>Forums</a>
			<a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">flag</i>Updates</a>
			<a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">local_offer</i>Promos</a>
			<a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">shopping_cart</i>Purchases</a>
			<a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">people</i>Social</a>
			<div class="mdl-layout-spacer"></div>
		</nav>
	</div>
	<main class="mdl-layout__content mdl-color--grey-100">
		<div ncy-breadcrumb></div>
		<div class="mdl-grid dashboard-content" ui-view>
			<div class="dashboard-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
				<div class="dashboard-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
					<div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
						<h2 class="mdl-card__title-text">Users</h2>
					</div>
					<div class="mdl-card__supporting-text mdl-color-text--grey-600">
						Non dolore elit adipisicing ea reprehenderit consectetur culpa.
					</div>
					<div class="mdl-card__actions mdl-card--border" ui-sref=".users">
						<a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Manage Users</a>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>