<div class="content-container users-container" ng-controller="UsersCtrl as ctrl">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email ID</th>
        <th>Account Type</th>
        <th>Company</th>
        <th>Groups</th>
        <th>Roles</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in ctrl.users">
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{'Enterprise'}}</td>
        <td>{{user.company_id.company_name || '-'}}</td>
        <td ng-if="user.groups.length == 0 || !user.groups">-</td>
        <td ng-if="user.groups.length == 1">{{user.groups[0].group_name}}</td>
        <td ng-if="user.groups.length > 1">{{user.groups[0].group_name}} &amp; {{user.groups.length - 1}}more</td>
        <td>-</td>
        <td>
          <md-menu md-position-mode="target-right target" >
            <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
              <i class="material-icons">more_vert</i>
            </md-button>
            <md-menu-content width="4" >
              <md-menu-item>
                <md-button ng-click="ctrl.editUser(user.id)">
                    <div layout="row">
                      <p flex>Edit</p>
                      <i class="material-icons">build</i>
                    </div>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="ctrl.editUser(user.id)">
                    <div layout="row">
                      <p flex>Delete</p>
                      <i class="material-icons">delete</i>
                    </div>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </td>
      </tr>
    </tbody>
  </table>
  <md-button class="md-fab" aria-label="FAB" ng-click="ctrl.createUser()">
    <i class="material-icons create-user">add</i>
  </md-button>
<div>